<div style="max-width: 88%; padding-top: 0px; margin-top: 55px"; padding-bottom: 45px; margin-bottom: 55px"; class = "ui fluid centered card">
  <div style="margin-top: 10px; " class="ui stackable grid container">

    <div class="sixteen wide column no-bottom">
      <h2 style="color: black; text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;" class="ui center aligned header no-bottom">{{ site.data.bio.basics.name }}</h2>
    </div>
    
    <div class="eight wide left aligned column">
      <h2 class="ui center aligned header no-bottom">
        <a href="https://github.com/ChrisMakesKode/ChrisMakesKode.github.io/blob/master/resume/Christian%20Kamarga%20Resume%20Feb%202024.pdf" download = "Christian Kamarga Resume.pdf">You can download a .pdf file of this resume by clicking here.</a>
      </h2>
    </div>
    
    <div style="color: black; text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;" class="eight wide left aligned column">
      <div style="color: white;">{% include bio-network-links.html %}</div>
    </div>

    <div style="color: black; text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;" class="eight wide right aligned column">
      {% include bio-address.html %}
    </div>
  </div>

  <div style="margin-bottom: 20px; color: black; text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; font-size: 15px" class="ui stackable grid container">
    {% include bio-summary-1.html %}
    {% include bio-work-1.html %}
    {% include bio-education-1.html %}
    {% include bio-certification-1.html %}
    {% include bio-skills-1.html %}
    {% include bio-volunteer-1.html %}
    {% include bio-publications-1.html %}
    {% include bio-awards-1.html %}
    {% include bio-references-1.html %}
  </div>
</div>
